* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:'Roboto';
}
header p {
    background-color:#1CD1B0;
    padding:10px;
    padding-left: 20px;
    width: 100%;
}
h1{
    padding: 15px;
    padding: 20px 20px;
    width: 100%;
    background-color: cornflowerblue;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
header{
    margin-bottom: 6rem;
    background-color: cornflowerblue;
}

main{
    margin-bottom: 100px;
    
}

.Cards{
display:flex ;
justify-content: space-evenly;


}
#hear{
    position: absolute;
    padding-left: 1rem;
    padding-top: 1rem;

}

.caja-Batman{
    justify-content: center;
    align-items:center;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
#fondoBatman{
    width: 300px;
    height: 194px;
    border-radius: 20px 20px 0 0;
}
#perfilBatman{
    width: 150px;
    border-radius: 100px;
    bottom: 75px;
    position: relative;
}
.infoBatman{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    bottom: 40px;

}
.infoBatman p{

    margin: 5%;
    margin-bottom: 22%;
}


button{
    background-color: #00669F;
    color: white;
    height: 48.52px;
    width: 128.78px;
    border: 0;
    cursor: pointer;

}

 a{
    color: white;
    text-decoration: underline;
    text-decoration: none;
}

button:hover {
    background-color: gray;}



.caja-Harley{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
#fondoHarley{
    width: 300px;
    height: 194px;
    border-radius: 20px 20px 0 0;
}
#perfilHarley{
    width: 150px;
    border-radius: 100px;
    bottom: 75px;
    position: relative;
}

.infoHarley{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    bottom: 40px;
}
.infoHarley p{

    margin: 5%;
    margin-bottom: 23.5%;}

.caja-Superman{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
#fondoSuperman{
    width: 300px;
    height: 194px;
    border-radius: 20px 20px 0 0;
}
#perfilSuperman{
    width: 150px;
    border-radius: 100px;
    bottom: 75px;
    position: relative;
}
.infoSuperman{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    bottom: 40px;
}
.infoSuperman p{

    margin: 5%;
    margin-bottom: 5%;}


footer{
    background-color: #00669F;
    width: 100%;
    height: 50px;
    align-content: center;
    color: white;
    padding-left: 15px;

}
